:root {
  --CharcoalBlack: #333333;
  --ElectricBlue: #3498db;
  --CoralRed: #ff6f61;
  --LimeGreen: #4caf50;
  --DarkGray: #444444;
  --cream: #fff8e1;
  --deepBlue: #001f3f;
}
.partnershipPart1 {
  background-image: url("../../assets/background.jpg");
  background-size: cover;
  background-position: left center;
  height: 300px;
  opacity: 0.2 gray;
  padding: 10px;
  position: relative;
  z-index: 1;
}
.partnershipPart1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.partnershipPart1-text {
  position: relative;
  z-index: 3;
  margin-top: 150px;
}
.partnershipPart1 h3 {
  font-size: 30px;
  text-align: center;
  color: var(--cream);
  font-weight: 700;
  position: relative;
}
.partnershipPart2 {
  display: flex;
  padding: 50px;
  margin-bottom: -150px;
}
.partnershipPart2 .section1 {
  width: 45%;
  background-color: #888888;
  border: 3px solid #0054a7;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 0 15px black;
}
.partnershipPart2 .section2 {
  width: 45%;
  background-color: #888888;
  border: 3px solid #0054a7;
  border-radius: 20px;
  padding: 10px;
  margin-left: 50px;
  box-shadow: 0 0 15px black;
}
#section2-icon {
  font-size: 50px;
  margin-left: 45%;
}

@media screen and (max-width: 1200px) {
  .partnershipPart1 {
    height: 200px;
  }

  .partnershipPart1-text {
    margin-top: 110px;
  }
  .partnershipPart1 h3 {
    font-size: 20px;
  }
  .partnershipPart2 {
    display: grid;
    padding: 20px;
    margin-bottom: 0px;
  }
  .partnershipPart2 .section1 {
    width: 70%;
    margin-top: 20px;
  }
  .partnershipPart2 .section2 {
    width: 70%;
    margin-left: 25%;
    margin-top: 30px;
  }
  #section2-icon {
    font-size: 50px;
    margin-left: 40%;
  }
}
