:root {
  --CharcoalBlack: #333333;
  --ElectricBlue: #3498db;
  --CoralRed: #ff6f61;
  --LimeGreen: #4caf50;
  --DarkGray: #444444;
  --cream: #fff8e1;
  --deepBlue: #001f3f;
}
.homeContainer {
  width: 100%;
}
.homePart1 {
  background-image: url("../../assets/376628574_648616240711691_4969649218549758211_n.jpg");
  background-size: cover;
  height: 500px;
  padding: 10px;
  z-index: 1;
  position: relative;
}

.homePart1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.homePart1-text {
  position: relative;
  z-index: 3;
}

.homePart1-text h3 {
  font-size: 40px;
  text-align: center;
  color: var(--cream);
  font-weight: 900;
  margin-top: 150px;
}
.homePart1-text h4 {
  color: var(--cream);
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}
.homePart1-text a {
  background-color: #0054a7;
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 10px;
  margin-left: 45%;
  margin-top: 70px;
}
.homePart2 {
  padding: 50px;
}
.homePart3 {
  margin-top: 70px;
  padding: 50px;
  background-color: var(--CharcoalBlack);
  display: grid;
}
.homePart3-imgDiv {
  display: flex;
  margin-top: 40px;
  width: 100%;
  justify-content: space-evenly;
}
.homePart3-imgDiv img {
  width: 300px;
  height: 300px;
  /* margin-left: 20%; */
}
.resourcebtn {
  justify-self: center;
  width: 12%;
  text-decoration: none;
  background-color: var(--CoralRed);
  color: var(--cream);
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;
  margin-top: 30px;
}
.homePart4 {
  padding: 50px;
  display: grid;
}
.homePart5 {
  padding: 50px;
  display: grid;
  background-color: var(--CharcoalBlack);
}
.mySwiper {
  width: 70%;
  margin-top: 20px;
}
.swiper-card {
  background-color: var(--cream);
  padding: 50px;
  border-radius: 10px;
}
.swiper-card h1,
.swiper-card h3 {
  text-align: center;
}
.homePart6 {
  display: flex;
  margin-top: 150px;
  margin-bottom: -120px;
  margin-top: 50px;
}
.homePart6 img {
  width: 300px;
  height: 300px;
  margin-left: 150px;
  border-radius: 30px;
}
.homePart6 .textArea {
  margin-left: 20px;
}
.design {
  display: flex;
}
.design h3 {
  font-size: 20px;
}
.design h2 {
  font-size: 20px;
  color: var(--ElectricBlue);
  margin-left: 10px;
  margin-top: 20px;
}
.textArea .description {
  width: 70%;
  font-size: 15px;
}
.iconsX {
  display: flex;
  width: 70%;
}

@media screen and (max-width: 1200px) {
  .homeContainer {
    width: 100%;
  }
  .homePart1 {
    height: 300px;
    padding: 10px;
  }

  .homePart1-text h3 {
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    margin-top: 100px;
  }
  .homePart1-text h4 {
    margin-top: 10px;
  }
  .homePart1-text a {
    font-size: 12px;
    margin-left: 40%;
    margin-top: 50px;
  }
  .homePart2 {
    padding: 30px;
  }
  .homePart3 {
    margin-top: 20px;
    padding: 30px;
  }
  .homePart3-imgDiv {
    display: grid;
    margin-top: 30px;
  }
  .homePart3-imgDiv img {
    width: 250px;
    height: 250px;
    margin-top: 20px;
    margin-left: 0px;
    justify-self: center;
  }
  .resourcebtn {
    justify-self: center;
    width: 50%;
  }
  .homePart4 {
    padding: 30px;
  }
  .homePart5 {
    padding: 30px;
    display: grid;
    background-color: var(--CharcoalBlack);
  }
  .homePart6 {
    display: grid;
    margin-top: 150px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .homePart6 img {
    width: 200px;
    height: 200px;
    margin-left: 0px;
    justify-self: center;
  }
  .homePart6 .textArea {
    margin-left: 20px;
  }
  .design h3 {
    font-size: 20px;
  }
  .design h2 {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 20px;
  }
  .textArea .description {
    width: 100%;
  }
  .iconsX {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
}
